<div class="container">
  <div class="overlay">
    <h1>Reaching for the cresendo of creativity</h1>
  </div>

  <div class="cover-photo">
    <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/home/camera2.jpg" %>
  </div>
</div>