.contact-title {
  padding-top: 130px;
  text-align: center;
  color: royalblue;
}

.contact-form {
  padding-bottom: 120px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.contact-form-group {
  margin-bottom: 2rem;
  text-align: center;
  padding-left: 170px;
}

.h2-message {
  color: black;
}